html {
	font-family: "Luminari";
	color: white;
}

body {
	font-family: "Luminari";
	font-style: italic;
/*	background-color: black; */
	color: white;
	width: 700px;
}

table {
	color: white;
	text-align: center;
	border: 1px solid;
	background-color: black;

}

th {
	text-align: center;
	width: 200px;
	border: solid 1px;
	border-color: orange;
}

td {
	border: solid 1px;
	border-color: orange;
}




.title {
	text-shadow: 1px 1px white, -1px -1px white, 3px 3px gray;
	text-align: center;
	font-size: 60px;
	font-weight: bold;
}

.sub {
	text-align: center;
	font-size: 40px;
}

.size form {
	width: 300px;
}
.size span {
	color: orange;
	text-decoration: underline;
}


.menus {
	background-color: black;
	border-style: dotted;
	border-color: orange;
	border-radius: 5%;
	width: 200px;
	padding: 10px;
	line-height: 80%;
}
.menu h3 {
	text-decoration: underline;
	color: orange;
}